* {
    margin: 0;
    padding: 0;
}
img {
   border: 3px solid rgb(164, 245, 164);
   display: block;
   margin:20px auto;
}
.pixel{
    width: 100px;
    height: 100px;
}
.centimetro{
    width: 10cm;
    height: 10cm;
}
.milimetro{
    width: 20mm;
    height: 20mm;
}
.quarto {
    width: 200q;
    height: 200q;
}   
.pulgad {
    width: 5in;
    height: 5in;
}
.punto {
    width: 200pt;
    height: 200pt;
}
.pica {
    width: 20pc;
    height: 20pc;
}